# Fraudulent Transaction Predictions

### Introduction


### Preliminary exploratory data analysis

In [7]:
import pandas as pd

In [9]:
financial_data = pd.read_csv("data/synthetic_financial_data.csv")
financial_data

,transaction_id,customer_id,merchant_id,amount,transaction_time,is_fraudulent,card_type,location,purchase_category,customer_age,transaction_description
0,1,1082,2027,5758.59,2023-01-01 00:00:00,0,MasterCard,City-30,Gas Station,43,Purchase at Merchant-2027
1,2,1015,2053,1901.56,2023-01-01 00:00:01,1,Visa,City-47,Online Shopping,61,Purchase at Merchant-2053
2,3,1004,2035,1248.86,2023-01-01 00:00:02,1,MasterCard,City-6,Gas Station,57,Purchase at Merchant-2035
3,4,1095,2037,7619.05,2023-01-01 00:00:03,1,Discover,City-6,Travel,59,Purchase at Merchant-2037
4,5,1036,2083,1890.10,2023-01-01 00:00:04,1,MasterCard,City-34,Retail,36,Purchase at Merchant-2083
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,1056,2023,8935.28,2023-01-01 02:46:35,1,MasterCard,City-39,Restaurant,36,Purchase at Merchant-2023
9996,9997,1053,2026,30.15,2023-01-01 02:46:36,0,MasterCard,City-32,Retail,42,Purchase at Merchant-2026
9997,9998,1041,2034,6333.64,2023-01-01 02:46:37,0,American Express,City-1,Online Shopping,36,Purchase at Merchant-2034
9998,9999,1009,2019,2837.13,2023-01-01 02:46:38,1,Visa,City-11,Retail,57,Purchase at Merchant-2019
9999,10000,1082,2070,7209.43,2023-01-01 02:46:39,1,Discover,City-1,Gas Station,50,Purchase at Merchant-2070

In [10]:
financial_data.columns

Index(['transaction_id', 'customer_id', 'merchant_id', 'amount',
       'transaction_time', 'is_fraudulent', 'card_type', 'location',
       'purchase_category', 'customer_age', 'transaction_description'],
      dtype='object')

In [23]:
def categorize(value):
    if value == 0:
        return 'no'
    else:
        return 'yes'

financial_data['Fraudulent'] = financial_data['is_fraudulent'].apply(categorize)

financial_data

,amount,is_fraudulent,card_type,location,customer_age,Fraudulent
0,5758.59,0,MasterCard,City-30,43,no
1,1901.56,1,Visa,City-47,61,yes
2,1248.86,1,MasterCard,City-6,57,yes
3,7619.05,1,Discover,City-6,59,yes
4,1890.10,1,MasterCard,City-34,36,yes
...,...,...,...,...,...,...
9995,8935.28,1,MasterCard,City-39,36,yes
9996,30.15,0,MasterCard,City-32,42,no
9997,6333.64,0,American Express,City-1,36,no
9998,2837.13,1,Visa,City-11,57,yes
9999,7209.43,1,Discover,City-1,50,yes

In [25]:
financial_data=financial_data[['amount', 'Fraudulent', 'customer_age']]
financial_data

       amount Fraudulent  customer_age
0     5758.59         no            43
1     1901.56        yes            61
2     1248.86        yes            57
3     7619.05        yes            59
4     1890.10        yes            36
...       ...        ...           ...
9995  8935.28        yes            36
9996    30.15         no            42
9997  6333.64         no            36
9998  2837.13        yes            57
9999  7209.43        yes            50

[10000 rows x 3 columns]

### Methods

### Expected outcomes and significance