# Tennis Game Results

### Introduction

The atp2017-2019.csv data set (game_stats in this notebook) shows various statistics of the top 500 players from 2017-2019. Included in this data set are the names of the tournaments, the surface of the court, number of player in the tournament, tournament level, and information on each player. The information about the players included their attributes and information on their performance during the match. In this project, we intend to predict the outcome of a player's match based on their performance during the match. We intend on using number of aces scored by the player, double faults earned, first serves made, and break points saved as the predictors.


### Preliminary exploratory data analysis

In [44]:
import pandas as pd

In [45]:
game_stats = pd.read_csv("https://drive.google.com/uc?export=download&id=1fOQ8sy_qMkQiQEAO6uFdRX4tLI8EpSTn")
game_stats

,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,0,2019-M020,Brisbane,Hard,32,A,20181231,300,105453,2,...,54.0,34.0,20.0,14.0,10.0,15.0,9.0,3590.0,16.0,1977.0
1,1,2019-M020,Brisbane,Hard,32,A,20181231,299,106421,4,...,52.0,36.0,7.0,10.0,10.0,13.0,16.0,1977.0,239.0,200.0
2,2,2019-M020,Brisbane,Hard,32,A,20181231,298,105453,2,...,27.0,15.0,6.0,8.0,1.0,5.0,9.0,3590.0,40.0,1050.0
3,3,2019-M020,Brisbane,Hard,32,A,20181231,297,104542,NaN,...,60.0,38.0,9.0,11.0,4.0,6.0,239.0,200.0,31.0,1298.0
4,4,2019-M020,Brisbane,Hard,32,A,20181231,296,106421,4,...,56.0,46.0,19.0,15.0,2.0,4.0,16.0,1977.0,18.0,1855.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6861,2881,2017-0605,Tour Finals,Hard,8,F,20171113,300,105777,6.0,...,54.0,42.0,22.0,15.0,11.0,15.0,6.0,3650.0,8.0,2975.0
6862,2882,2017-M-DC-2017-WG-M-BEL-FRA-01,Davis Cup WG F: BEL vs FRA,Hard,4,D,20171124,1,105676,NaN,...,53.0,33.0,21.0,14.0,6.0,11.0,7.0,3775.0,18.0,2235.0
6863,2883,2017-M-DC-2017-WG-M-BEL-FRA-01,Davis Cup WG F: BEL vs FRA,Hard,4,D,20171124,2,104542,NaN,...,54.0,30.0,12.0,12.0,5.0,11.0,15.0,2320.0,76.0,667.0
6864,2884,2017-M-DC-2017-WG-M-BEL-FRA-01,Davis Cup WG F: BEL vs FRA,Hard,4,D,20171124,4,105676,NaN,...,54.0,44.0,13.0,14.0,7.0,10.0,7.0,3775.0,15.0,2320.0
6865,2885,2017-M-DC-2017-WG-M-BEL-FRA-01,Davis Cup WG F: BEL vs FRA,Hard,4,D,20171124,5,106298,NaN,...,53.0,29.0,11.0,11.0,4.0,11.0,18.0,2235.0,76.0,667.0

In [46]:
game_stats.columns

Index(['Unnamed: 0', 'tourney_id', 'tourney_name', 'surface', 'draw_size',
       'tourney_level', 'tourney_date', 'match_num', 'winner_id',
       'winner_seed', 'winner_entry', 'winner_name', 'winner_hand',
       'winner_ht', 'winner_ioc', 'winner_age', 'loser_id', 'loser_seed',
       'loser_entry', 'loser_name', 'loser_hand', 'loser_ht', 'loser_ioc',
       'loser_age', 'score', 'best_of', 'round', 'minutes', 'w_ace', 'w_df',
       'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved',
       'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon',
       'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', 'winner_rank',
       'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [47]:
game_stats = game_stats[['winner_id', 'loser_id', 'w_ace', 'w_df',
       'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved',
       'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon',
       'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced']]
game_stats

,winner_id,loser_id,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,105453,106421,3.0,3.0,77.0,44.0,31.0,17.0,13.0,3.0,6.0,8.0,6.0,100.0,54.0,34.0,20.0,14.0,10.0,15.0
1,106421,104542,10.0,1.0,52.0,33.0,28.0,14.0,10.0,0.0,1.0,17.0,2.0,77.0,52.0,36.0,7.0,10.0,10.0,13.0
2,105453,104871,2.0,2.0,47.0,33.0,26.0,9.0,8.0,2.0,2.0,10.0,3.0,46.0,27.0,15.0,6.0,8.0,1.0,5.0
3,104542,200282,12.0,2.0,68.0,43.0,34.0,15.0,11.0,4.0,5.0,1.0,2.0,81.0,60.0,38.0,9.0,11.0,4.0,6.0
4,106421,105683,12.0,3.0,105.0,68.0,48.0,25.0,16.0,8.0,8.0,29.0,5.0,94.0,56.0,46.0,19.0,15.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6861,105777,105676,5.0,6.0,103.0,67.0,47.0,18.0,16.0,7.0,10.0,10.0,5.0,107.0,54.0,42.0,22.0,15.0,11.0,15.0
6862,105676,106298,12.0,0.0,74.0,48.0,40.0,17.0,14.0,0.0,0.0,6.0,2.0,95.0,53.0,33.0,21.0,14.0,6.0,11.0
6863,104542,104327,12.0,2.0,64.0,33.0,31.0,19.0,12.0,0.0,0.0,1.0,2.0,81.0,54.0,30.0,12.0,12.0,5.0,11.0
6864,105676,104542,1.0,0.0,122.0,71.0,47.0,33.0,15.0,10.0,10.0,10.0,3.0,88.0,54.0,44.0,13.0,14.0,7.0,10.0
6865,106298,104327,7.0,1.0,57.0,38.0,34.0,11.0,11.0,0.0,0.0,1.0,0.0,87.0,53.0,29.0,11.0,11.0,4.0,11.0

### Methods

### Expected outcomes and significance