In [1]:
pip install -U altair

Requirement already satisfied: altair in /opt/conda/lib/python3.10/site-packages (4.2.2)
Collecting altair
  Downloading altair-5.2.0-py3-none-any.whl (996 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 996.9/996.9 kB 5.1 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.10/site-packages (from altair) (3.1.2)
Requirement already satisfied: typing-extensions>=4.0.1 in /opt/conda/lib/python3.10/site-packages (from altair) (4.4.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (from altair) (1.23.5)
Requirement already satisfied: jsonschema>=3.0 in /opt/conda/lib/python3.10/site-packages (from altair) (4.17.3)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from altair) (23.0)
Requirement already satisfied: toolz in /opt/conda/lib/python3.10/site-packages (from altair) (0.12.0)
Requirement already satisfied: pandas>=0.25 in /opt/conda/lib/python3.10/site-packages (from altair) (1.5.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /opt/conda/lib/python3.10/site-packages (from jsonschema>=3.0->altair) (0.19.3)
Requirement already satisfied: attrs>=17.4.0 in /opt/conda/lib/python3.10/site-packages (from jsonschema>=3.0->altair) (22.2.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=0.25->altair) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=0.25->altair) (2022.7.1)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.10/site-packages (from jinja2->altair) (2.1.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas>=0.25->altair) (1.16.0)
Installing collected packages: altair
  Attempting uninstall: altair
    Found existing installation: altair 4.2.2
    Uninstalling altair-4.2.2:
      Successfully uninstalled altair-4.2.2
Successfully installed altair-5.2.0
Note: you may need to restart the kernel to use updated packages.

# Handedness and Tennis Success 

## Introduction

It was hypothesized that left handed tennis players have better developed tennis skills than those of right handed players (Holtzen, 2000). It is argued that left handed players can serve more strategically to their opponent given the developed spatial, motor and attentional functions (Holtzen, 2000). Given the hypothesis in Holtzen’s study that left handed players are better than right handed players at tennis, we want to examine if there is an association between handedness and tennis success. The data set we will use is Player Stats for Top 500 Players from Ultimate Tennis Statistics (https://www.ultimatetennisstatistics.com). The data set includes the player’s name, age, where they're from, handedness, source of information, current ranking, best ranking, their backhand position, net prize money, height, weight, coach, preferred surface to play on, information on the duration and dates of their career, social media, and personal game stats. Given our question on whether handedness and specifically, left-handedness, has an impact on success in tennis, we will designate handedness as the classifier variable and will designate best rank, prize money, best elo rank, peak elo rating, titles, and GOAT rank as the predictor variables. We chose these predictor variables as they all relate to the success of a tennis player's career. We omitted other variables like the player's personal info (name, age, height, weight, where they're from), social media and information source, coach, nicknames, backhand position, preferred surface to play on, and information on the duration and dates of their career as they were not relevant to the question we are answering in this project. From the remaining variables regarding the player's game stats, we omitted masters, grand slams, Davis cups, team cups, Olympics, weeks at No. 1, and tour finals as there was very limited data for these variables and we felt that including them in our data analysis would require a significant reduction in the sample size of the data set. We also decided to omit current rank, and current elo rating as some of the players may be retired and ranking decreases when a player is not longer playing, therefore misrepresenting the performance of the player when they were active.


## Methods

### Loading and Cleaning  the Data

For the data analysis of this project, we require functions from the pandas package and the altair package. We will load both packages below.

In [4]:
import pandas as pd
import altair as alt

To read the data into our notebook, we will use the url (https://drive.google.com/uc?export=download&id=1_MECmUXZuuILYeEOfonSGqodW6qVdhsS) and the read_csv function from the pandas package. At this point, we will name the data 'data'.

In [9]:
data = pd.read_csv("https://drive.google.com/uc?export=download&id=1_MECmUXZuuILYeEOfonSGqodW6qVdhsS")
data

,Unnamed: 0,Age,Country,Plays,Wikipedia,Current Rank,Best Rank,Name,Backhand,Prize Money,...,Facebook,Twitter,Nicknames,Grand Slams,Davis Cups,Web Site,Team Cups,Olympics,Weeks at No. 1,Tour Finals
0,0,26 (25-04-1993),Brazil,Right-handed,Wikipedia,378 (97),363 (04-11-2019),Oscar Jose Gutierrez,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,18 (22-12-2001),United Kingdom,Left-handed,Wikipedia,326 (119),316 (14-10-2019),Jack Draper,Two-handed,"$59,040",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,32 (03-11-1987),Slovakia,Right-handed,Wikipedia,178 (280),44 (14-01-2013),Lukas Lacko,Two-handed,"US$3,261,567",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,21 (29-05-1998),"Korea, Republic of",Right-handed,Wikipedia,236 (199),130 (10-04-2017),Duck Hee Lee,Two-handed,"$374,093",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,27 (21-10-1992),Australia,Right-handed,Wikipedia,183 (273),17 (11-01-2016),Bernard Tomic,Two-handed,"US$6,091,971",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,20 (13-04-1999),France,Right-handed,Wikipedia,382 (95),380 (11-11-2019),Dan Added,Two-handed,"$57,943",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,496,26 (03-09-1993),Austria,Right-handed,Wikipedia,5 (5890),4 (06-11-2017),Dominic Thiem,One-handed,"$22,132,368 15th all-time leader in earnings",...,1.Dominic.Thiem,@ThiemDomi,Dominator,NaN,NaN,dominicthiem.tennis,NaN,NaN,NaN,NaN
497,497,23 (14-03-1996),Netherlands,Left-handed,Wikipedia,495 (60),342 (05-08-2019),Gijs Brouwer,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,498,24 (17-05-1995),Ukraine,NaN,Wikipedia,419 (81),419 (20-01-2020),Vladyslav Orlov,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,499,22 (26-03-1997),Tunisia,Left-handed,Wikipedia,451 (69),408 (24-12-2018),Aziz Dougaz,Two-handed,"$61,984",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

To visualize all the columns of the data set, we will use the .columns function.

In [10]:
data.columns

Index(['Unnamed: 0', 'Age', 'Country', 'Plays', 'Wikipedia', 'Current Rank',
       'Best Rank', 'Name', 'Backhand', 'Prize Money', 'Height',
       'Favorite Surface', 'Turned Pro', 'Seasons', 'Active',
       'Current Elo Rank', 'Best Elo Rank', 'Peak Elo Rating',
       'Last Appearance', 'Titles', 'GOAT Rank', 'Best Season', 'Retired',
       'Masters', 'Birthplace', 'Residence', 'Weight', 'Coach', 'Facebook',
       'Twitter', 'Nicknames', 'Grand Slams', 'Davis Cups', 'Web Site',
       'Team Cups', 'Olympics', 'Weeks at No. 1', 'Tour Finals'],
      dtype='object')

Now that we have a list of the columns in this data set, we will filter out the columns we need to answer our project's question. The columns we will include are plays, best rank, prize money, best elo rank, peak elo rating, titles, and GOAT rank. Will name this 'data_filtered'.

In [20]:
data_filtered = data[['Plays', 'Best Rank', 'Prize Money', 'Best Elo Rank', 'Peak Elo Rating', 'Titles', 'GOAT Rank']]
data_filtered

,Plays,Best Rank,Prize Money,Best Elo Rank,Peak Elo Rating,Titles,GOAT Rank
0,Right-handed,363 (04-11-2019),NaN,NaN,NaN,NaN,NaN
1,Left-handed,316 (14-10-2019),"$59,040",NaN,NaN,NaN,NaN
2,Right-handed,44 (14-01-2013),"US$3,261,567",60 (06-02-2012),1886 (06-02-2012),NaN,NaN
3,Right-handed,130 (10-04-2017),"$374,093",NaN,NaN,NaN,NaN
4,Right-handed,17 (11-01-2016),"US$6,091,971",21 (23-03-2015),2037 (01-02-2016),4.0,264 (6)
...,...,...,...,...,...,...,...
495,Right-handed,380 (11-11-2019),"$57,943",NaN,NaN,NaN,NaN
496,Right-handed,4 (06-11-2017),"$22,132,368 15th all-time leader in earnings",5 (18-11-2019),2211 (18-11-2019),16.0,58 (58)
497,Left-handed,342 (05-08-2019),NaN,NaN,NaN,NaN,NaN
498,NaN,419 (20-01-2020),NaN,NaN,NaN,NaN,NaN
499,Left-handed,408 (24-12-2018),"$61,984",NaN,NaN,NaN,NaN

Now that we have selected the columns we will be using for analysis, we want to omit the observations that are missing values by using the .dropna() function. This will allow us to perform K-nearest neighbors classification later on. We will name this 'data_no_na'.

In [18]:
data_no_na = data_filtered.dropna()
data_no_na

,Plays,Best Rank,Prize Money,Best Elo Rank,Peak Elo Rating,Titles,GOAT Rank
4,Right-handed,17 (11-01-2016),"US$6,091,971",21 (23-03-2015),2037 (01-02-2016),4.0,264 (6)
5,Right-handed,31 (20-01-2020),"$1,517,157",33 (19-01-2020),1983 (20-01-2020),1.0,489 (1)
11,Right-handed,4 (09-09-2019),"US$ 10,507,693",4 (14-10-2019),2243 (14-10-2019),7.0,109 (27)
15,Right-handed,3 (13-08-2018),"US$25,889,586 11th all-time leader in earnings",3 (07-06-2010),2329 (14-09-2009),22.0,33 (109)
19,Right-handed,25 (05-08-2019),"US$2,722,314",29 (05-08-2019),1999 (05-08-2019),1.0,489 (1)
...,...,...,...,...,...,...,...
473,Right-handed,8 (21-08-2006),"$8,918,917",9 (20-08-2007),2098 (18-02-2008),4.0,169 (15)
484,Right-handed,29 (11-02-2019),"US$3,304,117",36 (13-05-2019),1962 (28-01-2019),1.0,400 (2)
487,Left-handed,58 (20-03-2017),"$1,703,096",43 (10-01-2020),1952 (10-01-2020),1.0,489 (1)
490,Right-handed,74 (19-02-2018),"US$1,048,314",57 (12-02-2018),1904 (12-02-2018),1.0,489 (1)
496,Right-handed,4 (06-11-2017),"$22,132,368 15th all-time leader in earnings",5 (18-11-2019),2211 (18-11-2019),16.0,58 (58)

Many of the columns in the data set contain more than one value in a cell. For the best rank, best elo rank, and peak elo rating columns, there is a date included in the cell that tells us when the ranking or rating was obtained. Since we are not concerned with the date of achievements for the tennis players in answering our predictive question, we can omit this data. In the GOAT rank column, there is the ranking of the player and value of the points the player has that determines their ranking in brackets. Since both values go towards GOAT ranking, we will simplify the data by excluding the points of the player in the brackets. In the prize money column, there is additional information in the form of a string. Since the value of the player's prize money will be sufficient in our analysis, we will keep only the prize money value in this column. In the next step of cleaning the data, we will clean the data so each cell only contains one value, filter for only the values we need in our analysis and will convert the columns (besides the handedness column) from object columns to numeric data.

To clean the data so that there is only one value per cell, we will use the str.split function. We will complete this process in multiply steps, starting with the GOAT rank column. We will separate the values of the GOAT rank column by specifying that the split should be made on the space between the values. We will name this 'data_spit_GOAT'. In this step, we will rename the columns so that when we combine all the adjusted columns later, it will be easy to differentiate them and easy to discard the ones we do not need. We will name the column we will be keeping 'GOAT Rank' and the column we will discard 'GOAT Discard'.

In [23]:
data_split_GOAT = data_no_na['GOAT Rank'].str.split(" ", expand = True)
data_split_GOAT = data_split_GOAT.rename(columns={0:"GOAT Rank", 1:"GOAT Discard"})
data_split_GOAT

    GOAT Rank GOAT Discard
4         264          (6)
5         489          (1)
11        109         (27)
15         33        (109)
19        489          (1)
..        ...          ...
473       169         (15)
484       400          (2)
487       489          (1)
490       489          (1)
496        58         (58)

[95 rows x 2 columns]

We will now separate the values of the peak elo rating column, naming it 'data_split_Peak_Elo'. Again, we will specify that the space is where the data should be split and rename the columns to 'Peak Elo Rating' and 'Peak Elo Discard'.

In [24]:
data_split_Peak_Elo = data_no_na['Peak Elo Rating'].str.split(" ", expand = True)
data_split_Peak_Elo = data_split_Peak_Elo.rename(columns={0:"Peak Elo Rating", 1:"Peak Elo Discard"})
data_split_Peak_Elo

    Peak Elo Rating Peak Elo Discard
4              2037     (01-02-2016)
5              1983     (20-01-2020)
11             2243     (14-10-2019)
15             2329     (14-09-2009)
19             1999     (05-08-2019)
..              ...              ...
473            2098     (18-02-2008)
484            1962     (28-01-2019)
487            1952     (10-01-2020)
490            1904     (12-02-2018)
496            2211     (18-11-2019)

[95 rows x 2 columns]

We will do the same for the best elo rank column, naming it 'data_split_Best_Elo'. We will rename the columns to 'Best Elo Rank' and 'Best Elo Discard'.

In [25]:
data_split_Best_Elo = data_no_na['Best Elo Rank'].str.split(" ", expand = True)
data_split_Best_Elo = data_split_Best_Elo.rename(columns={0:"Best Elo Rank", 1:"Best Elo Discard"})
data_split_Best_Elo

    Best Elo Rank Best Elo Discard
4              21     (23-03-2015)
5              33     (19-01-2020)
11              4     (14-10-2019)
15              3     (07-06-2010)
19             29     (05-08-2019)
..            ...              ...
473             9     (20-08-2007)
484            36     (13-05-2019)
487            43     (10-01-2020)
490            57     (12-02-2018)
496             5     (18-11-2019)

[95 rows x 2 columns]

We will do the same for the best rank column, naming it 'data_split_Best_Rank'. We will rename the columns to 'Best Rank' and 'Best Rank Discard'.

In [26]:
data_split_Best_Rank = data_no_na['Best Rank'].str.split(" ", expand = True)
data_split_Best_Rank = data_split_Best_Rank.rename(columns={0:"Best Rank", 1:"Best Rank Discard"})
data_split_Best_Rank

    Best Rank Best Rank Discard
4          17      (11-01-2016)
5          31      (20-01-2020)
11          4      (09-09-2019)
15          3      (13-08-2018)
19         25      (05-08-2019)
..        ...               ...
473         8      (21-08-2006)
484        29      (11-02-2019)
487        58      (20-03-2017)
490        74      (19-02-2018)
496         4      (06-11-2017)

[95 rows x 2 columns]

Finally, we will remove the '$', 'US' and all other unnecessary information from the prize money column

In [46]:
data_clean_Prize_Money= data_no_na['Prize Money'].str.strip('$US')
data_clean_Prize_Money= data_clean_Prize_Money.str.strip('all-time leader in earnings')
data_clean_Prize_Money= data_clean_Prize_Money.str.replace(',','')
data_clean_Prize_Money= data_clean_Prize_Money.str.extract(r'(\d+)', expand=False)
data_clean_Prize_Money

4       6091971
5       1517157
11     10507693
15     25889586
19      2722314
         ...
473     8918917
484     3304117
487     1703096
490     1048314
496    22132368
Name: Prize Money, Length: 95, dtype: object

### Methods
Using KNN we will use best rank, best elo rank, peak elo rank, number of titles, and GOAT (greatest of all time) as predictors to determine whether a player is left or right handed (Response variable)  We will compare the output of our model and compare whether top ranked players are left or right handed. 
We chose not to use the rest of the columns as they were not relevant to the players skills or there was not enough observations for other players for the data to be significant. Using a scatter plot we will display the ranking (y-axis) of each player, number of titles (x-axis), and color code handedness. In doing so, we hope to show if there is a correlation between handedness and tennis success.

### Expected outcomes and significance

In this project we hope to identify if there is a correlation between handedness and tennis success. From this data we can explore this hypothesis but also use this data to recognize where points are lost to an opponent given their handedness. This could be used to develop/strategze offensive and defensive plays.

### References